.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: rgb(114, 114, 114);
  background-color: #2a272a;;
  width: 100%;
  height: 28px;
  /* margin-top: 2px; */
  border-bottom-right-radius: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
}

.leftZone {
  width: 250px;
  border-right: 1px solid rgb(93, 93, 93);
}
