* {
  cursor: default !important;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-variant: small-caps;
}

.titlebar {
  height: 35px;
  background: black;
  color: rgb(85, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  app-region: drag;
}


#root {
  width: 100vw;
  height: 95.5vh;
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3px 3px 3px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 4px;
  height: 100px;
}

.logo {
  height: 60px;
  width: auto;
  filter: drop-shadow(5px 0px 3px #000000);
}
